
<div class="fields">
  <!-- Iterate through fields here --> 
  <table>
  <% @entity.fields.each do |field,value|
      next if field =~ /_id|created_at|updated_at|status|age|confidence/ %>
    <tr>
      <td><%= value.name %>:</td>      
      <td>
        <%= if value.name == "text" 
             simple_format "#{eval("@entity.#{value.name}")}" 
            elsif value.name == "url" or value.name == "uri"
              simple_format "<a href=\"#{eval("@entity.#{value.name}")}\" target=\"_blank\">#{eval("@entity.#{value.name}")}</a>"
            else
              "#{eval("@entity.#{value.name}")}" 
            end
        %>
      </td>
    </tr>
  <% end %>

  <% if @entity.kind_of?(Entities::Image) %>
      <tr><td>Image:</td><td><img src="/images/<%=@entity.local_path.split("/").last%>"/></td><tr>
  <% end %>

  <% if @entity.kind_of?(Entities::PhysicalLocation) %>
      <tr>
        <td>Image:</td>
        <td><img src="http://maps.googleapis.com/maps/api/staticmap?center=<%=@entity.latitude%>,<%=@entity.longitude%>&zoom=11&size=200x200&sensor=false"></td>
      </tr>
      <tr>
        <td>Street View:</td>
        <td><img src="http://maps.googleapis.com/maps/api/streetview?size=200x200&location=<%=@entity.latitude%>,<%=@entity.longitude%>&heading=0&sensor=true"></td>
        <td><img src="http://maps.googleapis.com/maps/api/streetview?size=200x200&location=<%=@entity.latitude%>,<%=@entity.longitude%>&heading=90&sensor=true"></td>
        <td><img src="http://maps.googleapis.com/maps/api/streetview?size=200x200&location=<%=@entity.latitude%>,<%=@entity.longitude%>&heading=180&sensor=true"></td>
        <td><img src="http://maps.googleapis.com/maps/api/streetview?size=200x200&location=<%=@entity.latitude%>,<%=@entity.longitude%>&heading=270&sensor=true"></td>
      </tr>
  <% end %>

  </table>
  <!-- Done iterating through fields --> 
</div>