<p>
<%= render 'display' %>
</p>

<%= render 'task_runner' %>

<p>
<b>Parents:</b>
  <%= simple_format render_parents(@entity,"") %>
</p>  

<p>
<b>Children:</b>
  <%= simple_format render_children(@entity,"") %>
</p>

<p>
<b>Task Runs:</b>
  <ul>
  <% @entity.task_runs.each {|r|%>
    <li><%= link_to r, task_run_path(r)  %></li>
  <% } %>
  </ul>
</p>


<%= link_to "Destroy", entity_path(@entity), :confirm => 'Are you sure?', :method => :delete %>| 
<%= link_to 'Edit', edit_entity_path(@entity) %> |
<%= link_to 'Back', entities_path %>
