<p>
  <b>Task Name:</b>
  <%= @task_run.task_name %>
</p>

<p>
  <b>Task run ID:</b>
  <%= @task_run.task_entity_id %>
</p>

<p>
  <b>Parent:</b>
   <%= link_to(@task_run.entity_mappings.first.get_parent, entity_path(@task_run.entity_mappings.first.get_parent)) if @task_run.entity_mappings.first %>
</p>

<p>
  <b>Task entity type:</b>
  <%= @task_run.task_entity_type %>
</p>

<p>
  <b>Task options hash:</b>
  <%= @task_run.task_options_hash %>
</p>

<p>
  <b>Task log:</b><br/>
  <%= simple_format @task_run.task_log %>
</p>

<p>
  <b>Associated Objects:</b>
  <ul>
    <%= simple_format display_associated_children %>
  </ul>
</p>


<%= link_to "Destroy", @task_run, :confirm => 'Are you sure?', :method => :delete %>
<%= link_to 'Back', task_runs_path %>
