<table border=1>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Entities</th>
  </tr>

<% @projects.each do |project| %>
  <tr>
    <% if project == Project.current %>
      <td><b><%= link_to project.name, project_path(project) %></b></td>
    <% else %>
      <td><%= link_to project.name, project_path(project) %></td>
    <% end %>
    <td><%= project.description %></td>
    <td><%= Entities::Base.where(:project_id => project.id).count %></td>

  </tr>
<% end %>
</table>

<br /><br />
<%= link_to 'New Project', new_project_path %>
