<p>
<b>Name:</b>
  <%= @project.name %>
</p>  

<p>
<b>Description:</b>
  <%= @project.description %>
</p>

<% if cookies[:project] == @project.name %>
  Activate | 
<% else %>
  <%= link_to("Activate", "#{project_path(@project)}/activate", :method => :activate) %> |
<% end %>
<%= link_to "Destroy", project_path(@project), :confirm => 'Are you sure you want to delete this project?', :method => :delete %>| 
<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
