<% if request.path =~ /entities/ %>
  <div class="sidebar">
  <br/>
  <br/>
  Show types:
  <%= form_tag(entities_path, method: "get") do %>
    <% get_valid_type_class_names.each do |x|
        entity_count = eval("Entities::#{x}").count%>
        <% if entity_count > 0 %>
          <% if session["view_types"].include? x.to_s %>
            <%= check_box_tag("type[]",x.to_s,true) %> <a href="/entities?type[]=<%=x%>"><%="#{x} (#{entity_count})"%></a> <br/>
          <% else %>
            <%= check_box_tag("type[]",x.to_s,false) %> <a href="/entities?type[]=<%=x%>"><%="#{x} (#{entity_count})"%></a> <br/>
          <% end %>
        <% end %>
    <% end %>
    <br/>
     <%= submit_tag "Show Types" %>
   <% end %>
    <br/>
    <br/>
    <%= link_to '[New Entity]', new_entity_path %>
  </div>
<% else  %>
   <div class="sidebar">
     &nbsp;
   </div>
<% end %>